@import "../componentes/globales";

/* -----------------Barra de Navegacion---------------- */
.barranav{
    background-color: $rojocandy;
}
/* -----------------------Carrousel foto portada ----------------*/

.contenedorcarrousel{
    width: 100%;
}

.carousel-inner img{
    width: 100%;
    height: 50vw;
}

/* -------------------------- Caracteristicas del servicio ----------------*/

.servicelogos{
    justify-content: space-between;
    padding: 50px;
    margin: 50px;
    div{
        height: 220px;
        text-align: center;
        margin: auto;
    }
    
    i{
        font-size: 50px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media only screen and (max-width: 768px) {

    .servicelogos {
        div{
            padding-bottom: 50px;
            padding-top: 20px;
        }
        i{
            font-size: 66px;
            padding-bottom: 20px;
        }
    }
}

/* -----------------------media DESTACADOS ----------------*/

/* -------------------------- DESTACADOS ----------------*/
#destacadop{
    text-align: center;
    padding-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.titulodestacados{
    text-align: center;
}

/*-----------------------------Cards Destacados---------------------------------*/
.seccioncombos{
    background-color:$amarillocandy ;
    border-radius: 10px;
    padding: 10px;

}

.contenedorcards{
    text-align: center;
    div{
        margin: auto;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 768px) {

    .contenedorcards{
        text-align: center;
        margin-top: 0%;
        div{
            padding-bottom: 20px;
            margin-bottom: 10px;
            }
        img{
            max-width: 500px;
            max-height: 500px;
            margin: auto;
            }
    }
}


/* -------------NEWSLETTER--------------*/

.contenedornewsletter{
    padding-top: 8px;
    padding-bottom: 20px;
    background-color: rgba(51, 110, 51, 0.993);
    display: block;
}

.titulonews{
    text-align: center;
    p{
        color: rgb(216, 64, 64);
    }
}

.titulonewsresaltado{
    color: beige;
}

.divnews{
    text-align: center;
    position: relative;
}

.aceptacion{
    color: white;
}

/* ---------------------------------- Contacto FORM--------------------------------------------*/



/* ----------------media FOOTER---------------- */

@media only screen and (max-width: 1014px) {
    .titulofooter{
        display: inline-block;
        margin: auto;
    }
    
    .contenedorfooter{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .redessocialesfooter{
        display: block;
        text-align: center;

    }


}
/* ----------------FOOTER------------------ */
footer{
    width: auto;
    background-color: rgb(7, 4, 4);
}

.contenedorfooter{
    display: flex;
    width: auto;
    height: 250px;
    justify-content: space-around;
}

.copy{
    display: block;
    width: 100%;
    text-align: center;
    color: beige;
    background-color: rgb(54, 53, 53);
}

.redessocialesfooter{
    margin-top: 40px;
    text-align: center;
    h3{
        color: aliceblue;
    }
    i{
        color: rgb(219, 92, 61);
        font-size: 50px;
    }
}

@media only screen and (max-width: 1014px) {
    
    .redessocialesfooter{
        margin: auto;
        h3{
            margin-bottom: 40px;
        }
    }
}

/* ---------- formulario ------------- */

.formcontacto{
    h2{
        @include textprop(black, center);
    }
    form{
        padding: 10px 50px;
    }
}

/* ------------ NOSOTROS ---------- */

.infonosotros{
    background-color: $blancocandy;
    width: auto;
    padding: 20px;
    h2{
        @include textprop(#1d1d1e, center);
    }
    p{
        @include textprop(#1d1d1e, center);
    }
}



.contenedorinfo{
    padding: 40px 0;
    .infoagentes{
        display: flex;
        width: auto;
        .cartainfo{
            width: 50%;
            text-align: center;
            margin: 10px;
            img{
                object-fit: cover;
                border-radius: 20px;
                width: 270px;
                height: 240px;
            }
        }
    }
}

@media only screen and (max-width: 680px) {
    .infoagentes{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .cartainfo{
            width: 100%;
            img{
                width: 150px !important; 
                height: 150px !important;
            }
        }
    }
}
