/* Error: Undefined mixin.
 *     ,
 * 246 |         @include textprop(black, center);
 *     |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   css\style.scss 246:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 246 \2502          @include textprop(black, center);\d\a     \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   css\\style.scss 246:9  root stylesheet";
}
