/* ----------------------------------------GLOBALES----------------------------------- */
/* -------------------vars--------------------- */
/* ---------colores-------- */

$rojocandy: #ff6565;
$naranjacandy: #ff9c9c;
$blancocandy: aliceblue;
$azulcandy: lightblue;
$verdecandy: #479c47;
$amarillocandy: #fadc9b;
$lilacandy: #edb8fa;
$purpuracandy: #eb9cff;

/* ---------fuentes------- */

$titulos: (
    h1: 2.5em,
    h2: 2em,
    h3: 1.5em,
    h4: 1em
    );

@each $titulo, $size in $titulos {
    #{$titulo} {
        font-size: $size;
    }
}



/* -----------mixins---------- */
@mixin textprop($colortext, $talign) {
    color: $colortext;
    text-align: $talign;
}
/* ---------globales body ---------- */

body { 
    margin: 0%;
    background-color: $blancocandy;
}

.contenedor{
    display: block;
}

.infoproductos{
    background-color: goldenrod;
    text-align: center;
    display: block;
    padding: 100px 100px;
}

